AwesomeTkinter==2021.11.8
certifi==2024.8.30
charset-normalizer==3.4.0
CTkTable==1.1
customtkinter==5.2.2
darkdetect==0.8.0
idna==3.10
packaging==24.1
pillow==11.0.0
pydub==0.25.1
python-bidi==0.6.3
requests==2.32.3
SpeechRecognition==3.10.4
typing_extensions==4.12.2
urllib3==2.2.3
